.wishlist-page {
    padding: 20px;
}

.wishlist-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 60px; 
  }

.wishlist-heading {
    font-size: 28px;
    margin: 0;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* padding-left: 60px;
    padding-top: 10px; */
}

.wishlist-courses-grid {
    display: block; 
    gap: 30px; 
}

.wishlist-course-card {
    display: flex;
    position:relative;
    width: 100%; /* Full width for each card */
    max-width: 90%; /* Optional: limit the max width */
    margin-left: 60px;  
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 10px;
    /* text-align: left; */
    background-color: #eadbf7;
    transition: transform 0.2s, box-shadow 0.2s, width 0.3s;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    cursor: pointer;
}

.wishlist-course-card:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
}

.already-enrolled {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #8748c6; /* Semi-transparent background */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    z-index: 1; /* Ensure it's on top of other elements */
    pointer-events:none;
  }

.wishlist-course-image {
    width: 30%;
    height: auto;
    border-radius: 12px;
    height: 225px; /* Fixed height for uniformity */
    object-fit: cover; /* Ensures the image covers the area */
}

.wishlist-course-content{
    width: 55%;
    padding-left: 15px;
}

.wishlist-course-title {
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wishlist-course-instructor-duration{
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.wishlist-course-description {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.buttons{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.wishlist-remove-button{
    background-color: #8748c6; /* Red background for remove button */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    /* margin-top: 10px; */
    /* margin: 8px; */
}

.remove-button:hover{
    background-color: #7438ff; /* Darker red on hover */
}


.wishlist-add-to-cart-button{
    background-color: #8748c6; /* Red background for remove button */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
   
}

.add-to-cart-button:hover{
    background-color: #7438ff; /* Darker red on hover */
}



.no-cards{
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-left: 60px;
    padding-top: 20px;
}
