.home-page-layout{
    max-width: 1200px;
    margin:20px;
    padding:28px;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.landing-page-mid-section {
    background-color: rgb(171, 128, 201); 
    padding: 60px 10px;
    /* text-align: center; */
    border-radius: 8px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.mid-section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mid-section-text{
    max-width: 80%;
}

.landing-page-mid-section-image {
    max-width: 75%; 
    height: auto;
    /* border-radius: 8px; */
    margin-left: 20px;
    margin-right: 25px;
}

.landing-page-mid-section:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.landing-page-mid-section-heading {
    /* padding-top: 100px; */
    padding-left: 20px;
    /* padding-right: 10px; */
    font-size: 36px; 
    /* This font for style */
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */ 
    text-align: left;
    color: #242121; /* Darker text color for readability */
    margin-bottom: 10px; /* Space below the heading */
    font-weight: bold; /* Bold font for emphasis */
}

.landing-page-mid-section-description {
    font-size: 20px; 
    color: #5e5858;
    text-align: left;
    line-height: 1.6;
    max-width: 900px; 
    padding-left: 73px;
}



/* .course-categories-grid{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

@media(min-width: 768px){
    .course-categories-grid{
        grid-template-columns: repeat(4,1fr);
    }
}

.course-category-button{
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor:pointer;
    margin-top:12px;
}

.course-category-button:hover{
    background-color: #e0e0e0;
} */

.landing-page-end-section {
    background-color: white; 
    margin-top: 20px;
    padding: 20px 10px;
    /* text-align: center; */
    border-radius: 8px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.end-section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.end-section-text{
    max-width: 80%;
}

.landing-page-end-section-image {
    max-width: 75%; 
    height: auto;
    /* border-radius: 8px; */
    margin-left: 20px;
    margin-right: 25px;
}

.landing-page-end-section:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.landing-page-end-section-heading {
    /* padding-top: 100px; */
    padding-left: 20px;
    /* padding-right: 10px; */
    font-size: 36px; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    color: #242121; /* Darker text color for readability */
    margin-bottom: 10px; /* Space below the heading */
    font-weight: bold; /* Bold font for emphasis */
}

.landing-page-end-section-description {
    font-size: 20px; 
    color: #5e5858;
    text-align: left;
    line-height: 1.6;
    max-width: 900px; 
    padding-left: 20px;
}
